/* GENERAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* utility */
.pd-x{
    padding: 0 10px;
}

.mg-top {
    margin-top: 150px;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

a {
    text-decoration: none;
}

.button-white{
    margin-top: 20px;
    margin: 0 20px;
    display: inline-block;
    border-radius: 25px;
    background: #fff;
    color:#000;
    padding: 18px;
}
.button-black{
    margin-top: 20px;
    display: inline-block;
    border-radius: 25px;
    color: #fff;
    background: #000;
    padding: 18px;
}

.button-blue{
    margin-top: 20px;
    margin: 0 20px;
    display: inline-block;
    border-radius: 25px;
    background: #8ea1e1;
    color: #fff;
    padding: 18px;
    font-weight: bold;
    font-size: 20px;
}

.bg {
    background-color: #f6f6f6;
}

h1,h2,h3{
    font-weight: bold;
    font-size: 48px;
}

p {
    line-height: 25px;
    font-size: 18px;
}

.big-title {
    font-size: 60px;
    text-transform: uppercase;
}

.bg-title{
    background-image: url(../img/stars.svg);
    background-size: contain;
}

.footer-title {
    color: #7289da;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
}

.flag {
    margin-top: 20px;
    display: inline-block;
    width: 30px;
    height: 20px;
}

.secondary-title-footer {
    color: #7289da;
    font-weight: bold;
    font-size: 19px;
}

/* DEBUG */
.box-debug {
    height: 50px;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.2);
}

/* HEADER */

.navbar {
     width: 100%;
     background-color: #255ee9;
}

.logo {
     display: inline-block;
     width: 10%;
     margin-left: 100px;
}

.logo img {
    vertical-align: middle;
}
    
.navigation {
    display: inline-block;
    width: 70%;
    text-align: center;
    position: relative;
}

.navigation-list li {
    display: inline-block;
    padding: 20px;
    line-height: 20px;
}

.navigation-list li a {
    color: #fff;
    font-weight:  bold;
}

.navigation-list .login {
    color: #000;
    border-radius: 25px;
    background-color: #fff;
    padding: 10px;
}

.login {
   position: absolute;
   right: 0;
    bottom: 10px;
}

.header-content {
    width: 100%;
    height: 600px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.header-content .text-header {
    width: 50%;
    margin: 0 auto;
    padding-top: 200px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.arrow-download {
    font-size: 19px;
}

.text-header h1 {
    font-size: 60px;
}


/* MAIN */

.container {
    width: 100%;
    text-align: center;
}

.main-content {
    width: 80%;
    display: inline-block;
}

.text-main p {
    padding: 30px 0;
}

.container .button-blue {
    margin-top: 50px;
    margin-bottom: 130px;
}

/* FOOTER */
.footer-section {
    width: 100%;
    height: 600px;
    background: #23272a;
}

.top-footer {
    margin-left: 10px;
    display: inline-block;
    width: 20%;
}

.right-footer {
    display: inline-block;
    width: 79%;
    height: 200px;
}

.column {
    width: 25%;
}

.bottom-footer {
    width: 80%;
    margin:0 auto;
    margin-top: 150px;
    line-height: 30px;
}

.brand {
    display: inline-block;
    width: 30%;
}

 .register {
    display: inline-block;
    width: 60%;
} 


.language {
    margin-top: 30px;
    width: 100%;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.flag img {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.social {
    margin-top: 15px;
    line-height: 40px;
    font-size: 25px;
}

.social a{
    color: #fff;
    padding-right: 5px;
}

.top-footer .column a {
    color: #fff;
}

.column-content ul li{
    list-style: none;
    padding: 5px 0;
}

.column-content li a {
    color: #fff;
    font-weight: bold;
}

.bottom-footer .brand {
    vertical-align: middle;
}
.bottom-footer .register {
    text-align: right;
}